*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 84px;
  height: 84px;
  border: 6px solid rgb(0, 255, 234);
  border-top-color: rgb(89, 18, 104);
  border-radius: 50%;
  animation: spinner 0.9s linear infinite;
}
